* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
header .container {
    max-width: 950px;
    width: 70vw;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo {
    height: 60px;
    cursor: pointer;
}
header .container .logo img {
    height: 100%;
}
header .container .menus  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .menu ul {
    list-style: none;
    display: flex;
}
header .container .menu ul li {
    padding: 10px 20px;
    color: #767779;
    cursor: pointer;
}
header .container .menu ul li:hover {
    background-color: #FAC02E;
    border-radius: 20px;
    color: #fff;
}
header .container .hamburguer .div1 {
    height: 3px;
    width: 20px;
    border-radius: 20px;
    background-color: #767779;
    margin-bottom: 3px;
    margin-left: 20px;
    cursor: pointer;
}
header .bar-bottom {
    border: 1px solid #E7D298;
}
aside .container-1 {
    max-width: 950px;
    width: 70vw;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .container-1 .left {
    flex: 1;
}
aside .container-1 .left h1 {
    font-size: 6em;
    color: #191919;
}
aside .container-1 .left h1 mark {
    background-color: transparent;
    color: #FAC02E;
}
aside .container-1 .left p {
    width: 300px;
    margin-top: 30px;
    font-weight: bold;
    word-wrap: break-word;
}
aside .container-1 .right {
    flex: 1;
    display: flex;
    justify-content: center;
}
aside .container-1 .right div {
    width: 272px;
    height: 363px;
}
aside .container-1 .right div img {
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 0px #2c2f37;
}
aside.reverse1 .container-1 {
    flex-direction: row-reverse ;
}
aside.reverse1 .container-1 .left {
    justify-content: flex-end;
}
aside.reverse1 .container-1 .left h1 {
    font-size: 1.3em;
}
aside.reverse1 .container-1 .left h1 strong {
    color: #fff;
    background-color: #FAC02E;
}
aside.reverse1 .container-1 .left p {
    font-weight: normal;
    width: 350px;
    text-align: justify;
    text-indent: 25px;
    line-height: 25px;
    font-size:0.9em;
    margin-top: 10px;
}
aside.reverse1 .container-1 .right {
    display: flex;
    justify-content: flex-start;
}
aside.reverse1 .container-1 .right img {
    box-shadow: none;
}
aside.reverse2 .container-1 {
    flex-direction: row;
}
aside.reverse2 .container-1 .right2 {
    justify-content: flex-end;
}
aside.reverse3 .container-1 .right3 img {
    box-shadow: -20px -20px 0px #2c2f37;
}
footer {
    background-color: #2C2F37;
    margin-top: 20px;
}
footer .container-foot {
    max-width: 950px;
    width: 70vw;
    margin: auto;
    padding: 20px;
}
footer .container-foot .news {
    display: flex;
    justify-content: center;
    align-items: center ;
}
footer .container-foot .news .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 300px;
}
footer .container-foot .news .left h1 {
    color: #FAC02E;
}
footer .container-foot .news .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container-foot .news .right form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .container-foot .news .right form input {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 204.41px;
    outline: 0;
}
footer .container-foot .news .right form #send {
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #FAC02E;
    outline: 0;
    border:0;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0px 2px 3px #000;
    cursor: pointer;
}
footer .bar-nav {
    border: .3px solid #FAC02E;
}
footer .container-foot .copy {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container-foot .copy .copy-left a {
    color: #fff;
}
footer .container-foot .copy .copy-right ul {
    display: flex;
    align-items: center;
    list-style: none;
}
footer .container-foot .copy .copy-right ul li {
    margin-right: 20px;
}
footer .container-foot .copy .copy-right ul img {
    width: 24px;
}
